* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Times New Roman", Times, serif;
    height: 100vh;
    
}
.dash {
    display: flex;
    
}

.sidebar {
    flex: 0.2;
    background-color: #394263;
}

.main {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    background-color: #cdeff1;
}
.main__header {
    height: 50px;
    background-color: #648ca6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;

}

.main__content {
    justify-content: center;
    align-content: center;
    
}

.main__footer{
    height: 50px;
    background-color: #648ca6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 16px;
    margin-top: auto;
}

.sidebar__list-items {
    padding: 20px 40px;
    color: #ddd;
}
.sidebar__list{
    padding: 0;
    margin-top: 80px;
    list-style-type: none;
}

.sidebar__list-items:hover {
    background-color: rgb(8, 39, 85);
    cursor: pointer;
    font-weight: bold;
}

.main__content__header {
    display: flex;
    font-weight: 800;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    height: 150px;
    background-color:  #fcfcfd;
    color: slategray;
    border-radius:8px;
}

.main__content__cards {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.main__content__cards-card {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 70px;
    border-radius: 8px;
    background-color: #d3d3;
    align-items: center;
    /* padding: 2px; */
    margin: 10px;
}

@media (max-width: 860px) {
    .main__content__cards {
        flex-direction: column;
    }
}

.main__cards {
    column-count: 2;
    margin: 20px;
    margin-bottom: 0;
    column-gap: 20px;
}

.main__cards-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 10px;
    padding: 24px;
    box-sizing: border-box;
}

.main__cards-card:first-child {
    height: 280px;
    border-radius: 8px;
}

.main__cards-card:nth-child(2){
    height: 200px;
    border-radius: 8px;
}

.main__cards-card:nth-child(3){
    height: 50pxpx;
    border-radius: 8px;
}